.app {
    width: 650px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
